<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico">

    <title>{{title}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>
<body class="text-center">
<form class="form-signin" method="post">
    <img class="mb-4" src="https://icons.getbootstrap.com/assets/icons/person-circle.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Вхід у кабінет</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>

</html>


<!--  <body class="text-center">-->
<!--    <form class="form-signin" method="post">-->
<!--      <img class="mb-4" src="https://icons.getbootstrap.com/assets/icons/person-circle.svg" alt="" width="72" height="72">-->
<!--      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
<!--      <label for="inputEmail" class="sr-only">Email address</label>-->
<!--      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
<!--      <label for="inputPassword" class="sr-only">Password</label>-->
<!--      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
<!--    </form>-->
<!--  </body>-->